@import "../abstract/variables";

.model-post-container {
  color: $post-text-color;
  position: relative;

  .cover-image {
    height: 204px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    position: absolute;
    top: 0;
    z-index: -1;

    @media (max-width: 744px) {
      height: 104px;
    }
  }

  .model-post-title {
    height: 204px;
    font-family: $secondary-color;
    padding: 0 7.5rem;
    font-size: 4rem;
    display: flex;
    align-items: center;

    @media (max-width: 744px) {
      padding: 0 1rem;
      font-size: 2rem;
    }
  }

  .model-post-content {
    padding: 2.5rem 7.5rem 4.5rem;
    @media (max-width: 744px) {
      padding: 2rem 1.5rem 1.5rem;
    }
  }
}
