@import "../abstract/variables";

.not-found__container {
  position: relative;
  text-align: center;
  background-color: $primary-color;
  color: $light-color;
  padding: 0 1.5rem 6.5rem;

  .not-found__container-text404 {
    display: block;
    color: $secondary-color;
    font-family: $secondary-font;
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @media (max-width: 1100px) {
      margin-bottom: 2.25rem;
    }

    @media (max-width: 744px) {
      font-size: 4rem;
    }
  }

  .not-found__container-title {
    font-family: $secondary-font;
    font-size: 3rem;
    margin-bottom: 2rem;

    @media (max-width: 744px) {
      font-size: 2.25rem;
      line-height: 3rem;
    }
  }

  .not-found__container-paragraph {
    font-size: 1.5rem;
    line-height: 1.75rem;

    @media (max-width: 744px) {
      font-size: 1.125rem;
      line-height: 1.3125rem;
    }
  }

  .not-found__container-btn {
    text-align: start;
    margin-top: 3.5rem;
    margin-left: 30vw;

    @media (max-width: 1100px) {
      margin-top: 2.75rem;
      margin-left: 15vw;
    }

    @media (max-width: 744px) {
      margin: 2.5rem 0 0;
      text-align: center;
    }
  }

  .not-found__container-image {
    position: absolute;
    height: 25vw;
    bottom: calc(-25vw * 0.5);

    @media (max-width: 1100px) {
      height: 50vw;
      bottom: calc(-50vw * 0.65);
      left: 40vw;
    }

    @media (max-width: 744px) {
      position: absolute;
      margin: 0 auto;
      left: 0;

      right: 0;
      height: 94vw;
      bottom: calc(-94vw * 0.3);
      max-height: 375px;
    }
  }
  @media (max-width: 744px) {
    padding: 3rem 1rem 17rem;
  }
}

.not-found__space {
  height: 40vh;

  @media (max-width: 1100px) {
    height: 53vw;
  }

  @media (max-width: 744px) {
    height: calc(94vw * 0.5);
  }
}
