* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 5rem;
}

.banner {
  padding: 3rem 7.5rem 6.25rem;
  background-color: #A2678A;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner .presentation {
  flex: 1;
}
.banner .presentation .title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}
.banner .presentation .paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.banner .images {
  flex: 1;
  position: relative;
  height: 406px;
}
.banner .images .circle-colored {
  position: absolute;
  right: 7vw;
  bottom: 2.2vw;
  width: 25vw;
}
.banner .images .my-photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18vw;
  border-radius: 50%;
}
@media (max-width: 980px) {
  .banner {
    padding: 2rem 1rem;
    flex-direction: column;
  }
  .banner .presentation .title {
    margin-bottom: 2rem;
  }
  .banner .presentation .paragraph {
    margin-bottom: 2rem;
  }
  .banner .images {
    text-align: center;
    height: 307px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .banner .images .my-photo {
    width: 200px;
    transform: none;
    position: static;
  }
  .banner .images .circle-colored {
    display: none;
  }
}

.posts {
  padding: 0 6vw 3.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: -2.5rem;
}
@media (max-width: 1100px) {
  .posts {
    margin-top: 0;
    padding: 2rem 1.5rem 3.625rem;
  }
}
@media (max-width: 744px) {
  .posts {
    padding: 2rem 1rem 3rem;
  }
}

.navigation {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 744px) {
  .navigation {
    height: 72px;
  }
}

.link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #A2678A;
}

.link-destak {
  text-decoration: underline;
}

.post {
  text-align: center;
  width: 282px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 1.5rem;
  transition: transform 0.2s;
}
.post .cover {
  width: 100%;
}
.post .post-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: #A2678A;
  line-height: 1.75rem;
  margin: 1.5rem 0 1.75rem;
}
.post .btn-read {
  display: inline-block;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background-color: #E19898;
  color: var(--branco);
  border: 3px solid #E19898;
  cursor: pointer;
  transition: 0.2s;
}
.post .btn-read:hover {
  border: 3px solid #A2678A;
}
@media (max-width: 1100px) {
  .post {
    width: 336px;
  }
  .post .post-title {
    font-weight: 600;
  }
  .post .btn-read {
    padding: 0.6875rem 1.5rem;
    font-size: 1.375rem;
  }
}
.post:hover {
  transform: translate(0, -1rem);
}

.footer {
  background-color: #A2678A;
  color: #f5f5f5;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.footer .trademark {
  font-size: 2em;
}/*# sourceMappingURL=style.css.map */