* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a,
button,
input,
textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 5rem;
}

.about__image {
  margin-bottom: 0.5rem;
  margin-right: 1.5rem;
  width: 40vw;
  float: left;
}
@media (max-width: 1100px) {
  .about__image {
    float: none;
    display: block;
    margin: 0 auto 2rem;
    width: 70vw;
  }
}
@media (max-width: 744px) {
  .about__image {
    width: 100%;
  }
}

.about__subtitle {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 744px) {
  .about__subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}

.about__paragraph {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1100px) {
  .about__paragraph {
    margin-bottom: 2rem;
  }
}
@media (max-width: 744px) {
  .about__paragraph {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

.banner {
  padding: 3rem 7.5rem 6.25rem;
  background-color: #A2678A;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.banner .banner__presentation {
  flex: 1;
}
.banner .banner__presentation .banner__presentation-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  margin-top: 4.875rem;
  margin-bottom: 2rem;
}
@media (max-width: 980px) {
  .banner .banner__presentation .banner__presentation-title {
    margin-bottom: 2rem;
  }
}
.banner .banner__presentation .banner__presentation-paragraph {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}
@media (max-width: 980px) {
  .banner .banner__presentation .banner__presentation-paragraph {
    margin-bottom: 2rem;
  }
}
.banner .banner__images {
  flex: 1;
  position: relative;
  height: 406px;
}
.banner .banner__images .banner__images-circle {
  position: absolute;
  right: 7vw;
  bottom: 2.2vw;
  width: 25vw;
}
@media (max-width: 980px) {
  .banner .banner__images .banner__images-circle {
    display: none;
  }
}
.banner .banner__images .banner__images-photo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18vw;
  border-radius: 50%;
}
@media (max-width: 980px) {
  .banner .banner__images .banner__images-photo {
    width: 200px;
    transform: none;
    position: static;
  }
}
@media (max-width: 980px) {
  .banner .banner__images {
    text-align: center;
    height: 307px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
@media (max-width: 980px) {
  .banner {
    padding: 2rem 1rem;
    flex-direction: column;
  }
}

.footer {
  background-color: #A2678A;
  color: #f5f5f5;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.footer .footer__trademark {
  font-size: 2em;
}

.home__posts {
  padding: 0 6vw 3.625rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: -2.5rem;
}
@media (max-width: 1100px) {
  .home__posts {
    margin-top: 0;
    padding: 2rem 1.5rem 3.625rem;
  }
}
@media (max-width: 744px) {
  .home__posts {
    padding: 2rem 1rem 3rem;
  }
}

.main-button {
  display: inline-block;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background-color: #4D3C77;
  color: #f5f5f5;
  border: 3px solid #4D3C77;
  cursor: pointer;
  transition: 0.2s;
}

.main-button .lg {
  padding: 1.5rem 2.75rem;
  font-size: 1.5rem;
  line-height: 1.125rem;
}

.main-button:hover {
  border: 3px solid #A2678A;
}

.navigation {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 744px) {
  .navigation {
    height: 72px;
  }
}

.link {
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #A2678A;
}

.link-destak {
  text-decoration: underline;
}

.post {
  text-align: center;
  width: 282px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
  border-radius: 0px 0px 10px 10px;
  padding-bottom: 1.5rem;
  transition: transform 0.2s;
}
.post .cover {
  width: 100%;
}
.post .post-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  color: #A2678A;
  line-height: 1.75rem;
  margin: 1.5rem 0 1.75rem;
}
.post .btn-read {
  display: inline-block;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background-color: #E19898;
  color: var(--branco);
  border: 3px solid #E19898;
  cursor: pointer;
  transition: 0.2s;
}
.post .btn-read:hover {
  border: 3px solid #A2678A;
}
@media (max-width: 1100px) {
  .post {
    width: 336px;
  }
  .post .post-title {
    font-weight: 600;
  }
  .post .btn-read {
    padding: 0.6875rem 1.5rem;
    font-size: 1.375rem;
  }
}
.post:hover {
  transform: translate(0, -1rem);
}

.model-post-container {
  color: #444444;
  position: relative;
}
.model-post-container .cover-image {
  height: 204px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
}
@media (max-width: 744px) {
  .model-post-container .cover-image {
    height: 104px;
  }
}
.model-post-container .model-post-title {
  height: 204px;
  font-family: #4D3C77;
  padding: 0 7.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
}
@media (max-width: 744px) {
  .model-post-container .model-post-title {
    padding: 0 1rem;
    font-size: 2rem;
  }
}
.model-post-container .model-post-content {
  padding: 2.5rem 7.5rem 4.5rem;
}
@media (max-width: 744px) {
  .model-post-container .model-post-content {
    padding: 2rem 1.5rem 1.5rem;
  }
}

.post__markdown-container h3,
.post__markdown-container h4,
.post__markdown-container h5,
.post__markdown-container h6 {
  font-family: "Montserrat", sans-serif;
}
.post__markdown-container h3 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
@media (max-width: 744px) {
  .post__markdown-container h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1.5rem;
  }
}
.post__markdown-container h4 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}
.post__markdown-container p {
  text-align: justify;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1100px) {
  .post__markdown-container p {
    margin-bottom: 2rem;
  }
}
@media (max-width: 744px) {
  .post__markdown-container p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}
.post__markdown-container a {
  color: #0493d4;
  text-decoration: underline;
}
.post__markdown-container img {
  display: block;
  margin: 0 auto;
}
.post__markdown-container ul {
  font-size: 1.5rem;
}
.post__markdown-container ul li {
  margin-bottom: 1rem;
  list-style: disc;
}
.post__markdown-container pre,
.post__markdown-container blockquote {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #eaeaea;
  border-radius: 5px;
}
.post__markdown-container pre {
  overflow-x: auto;
}

.post__title-other-posts {
  font-family: var(--fonte-secundaria);
  color: #363031;
  font-size: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.post__posts-recommended {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.not-found__container {
  position: relative;
  text-align: center;
  background-color: #A2678A;
  color: #f5f5f5;
  padding: 0 1.5rem 6.5rem;
}
.not-found__container .not-found__container-text404 {
  display: block;
  color: #4D3C77;
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
@media (max-width: 1100px) {
  .not-found__container .not-found__container-text404 {
    margin-bottom: 2.25rem;
  }
}
@media (max-width: 744px) {
  .not-found__container .not-found__container-text404 {
    font-size: 4rem;
  }
}
.not-found__container .not-found__container-title {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
}
@media (max-width: 744px) {
  .not-found__container .not-found__container-title {
    font-size: 2.25rem;
    line-height: 3rem;
  }
}
.not-found__container .not-found__container-paragraph {
  font-size: 1.5rem;
  line-height: 1.75rem;
}
@media (max-width: 744px) {
  .not-found__container .not-found__container-paragraph {
    font-size: 1.125rem;
    line-height: 1.3125rem;
  }
}
.not-found__container .not-found__container-btn {
  text-align: start;
  margin-top: 3.5rem;
  margin-left: 30vw;
}
@media (max-width: 1100px) {
  .not-found__container .not-found__container-btn {
    margin-top: 2.75rem;
    margin-left: 15vw;
  }
}
@media (max-width: 744px) {
  .not-found__container .not-found__container-btn {
    margin: 2.5rem 0 0;
    text-align: center;
  }
}
.not-found__container .not-found__container-image {
  position: absolute;
  height: 25vw;
  bottom: -12.5vw;
}
@media (max-width: 1100px) {
  .not-found__container .not-found__container-image {
    height: 50vw;
    bottom: -32.5vw;
    left: 40vw;
  }
}
@media (max-width: 744px) {
  .not-found__container .not-found__container-image {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 94vw;
    bottom: -28.2vw;
    max-height: 375px;
  }
}
@media (max-width: 744px) {
  .not-found__container {
    padding: 3rem 1rem 17rem;
  }
}

.not-found__space {
  height: 40vh;
}
@media (max-width: 1100px) {
  .not-found__space {
    height: 53vw;
  }
}
@media (max-width: 744px) {
  .not-found__space {
    height: 47vw;
  }
}/*# sourceMappingURL=style.css.map */